.cell {
    border: rgb(89, 89, 89) solid 1px;
    background-color: rgb(55, 55, 55);
    transition: all .15s ease-in-out;
}

.block {
    /* background-color: rgb(225, 225, 225); */
    background: url("../assets/block.png");
    background-size: 115px 115px;
    /* transition: all .15s ease-in-out; */
}

.box {
    background-image: url("../assets/box_empty.png");
    background-size: 115px 115px;
    transition: all .15s ease-in-out;
}

.cell:hover {
    border: rgb(72, 93, 213) solid 3px;
    opacity: 75%;
}

.active {
    /* background-color: rgba(108, 219, 127, 0.4); */
    border: rgb(108, 232, 113) solid 3px;
    transition: all .15s ease-in-out;
}

.box-empty {
    background-image: url("../assets/BoxHigh.png");
    background-size: contain;
}

.box-low {
    background-image: url("../assets/BoxLow.png");
    background-size: contain;
}

.box-medium {
    background-image: url("../assets/BoxMed.png");
    background-size: contain;
}

.box-high {
    background-image: url("../assets/BoxHigh.png");
    background-size: contain;
}
