.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: #205be4;
  
  }

.email-error {
  color: #ff6961;
  margin-top: -45px;
}

.username-error {
  color: #ff6961;
  margin-top: -45px;
  margin-bottom: 19px;
}

.username-pass {
  color: #55aa47;
  margin-top: -45px;
  margin-bottom: 19px;
}

.password-error {
  color: #ff6961;
  margin-top: -45px;
  margin-bottom: 19px;
}

.confirm-error {
  color: #ff6961;
  margin-top: -45px;
  margin-bottom: 19px;  
}

.reg-error {
  color: #ff6961;
  margin-top: -5px;
  margin-bottom: -21px;
}
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-radius: .5rem;
    }
  }